.header {
    background-image: linear-gradient(to left, violet, rgb(114, 57, 155), rgb(110, 110, 238), rgb(155, 236, 155), rgb(238, 238, 135), rgb(240, 176, 59), rgb(235, 225, 225));
  font-weight: bold;
}

.navbarBrand{
 font-weight:bolder;
 font-family: 'Akronim', cursive;
}


.mr-auto{
    flex: end;
}
body{
  background: rgb(34,193,195);
  background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
  font-family: "work sans";
}

html{
  font-size: 100%;
}

